<h1> Here is your product, <%= @fabric.user %></h1>
<p>Length: <%= @fabric.length %></p>
<p>Content: <%= @fabric.content %></p>
<p>Quality: <%= @fabric.quality %></p>
<p>Price: <%= @fabric.price %></p>
<p>Color: <%= @fabric.color %></p>
