<div class="all-body mb-3">
  <div class="container">
      <div>
        <h1 class="fs-3"><%= "#{@fabric.content.capitalize}:" %></h1>
      </div>
    <div class="row">
      <div class="col-6">
        <div class="flex-container">
          <div class="flex-item">
          <%= "Quality: #{@fabric.quality}" %>
          </div>
          <div class="flex-item">
            <%= "Material: #{@fabric.material}" %>
          </div>
          <div class="flex-item">
            <%= "Color: #{@fabric.color}" %>
          </div>
          <div class="flex-item">
            <%= "Length: #{@fabric.length.to_i} mt." %>
          </div>
          <div class="flex-item mt-5">
            <strong><%= "Price: #{@fabric.price.to_i} $" %></strong>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="flex-container">
          <% if @fabric.photo.attached? %>
            <%= cl_image_tag(@fabric.photo.key, class:'img-fluid') %>
          <% else %>
            <img class="img-fluid" src='<%= @fabric.link %>' />
          <% end %>
        </div>
      </div>
    </div>


        <p><%= @fabric.user.company %></p>

         <%= link_to "Buy now", create_purchase_path(@fabric), method: :post, class: "btn btn-primary mb-2" %>
          <div class="flex-item my-2 mx-3">
            <small><%= "Address: #{@fabric.address}" %></small>
          </div>
            <div id="map" class="mb-4 mt-3"

                style="width: 800px; height: 400px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>
  </div>
</div>



         <%# <%= simple_form_for [@purchase, @fabric] do |f| %> %>
        <%# <%= f.submit %> %>
