<!DOCTYPE html>
<html>
  <head>
    <title>FabricsMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/02ef13b7dc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
   <div class="container">
    <div class="navbar">
            <%= link_to image_tag("https://i.ibb.co/fDhQPPt/logo.png", :alt => "rss feed"), root_path %>
        <%# <img src="https://i.ibb.co/fDhQPPt/logo.png" alt="Logo"> %>
        <div class="right-links">
            <% if user_signed_in? %>
              <%= link_to "New Fabric", new_fabric_path %>
              <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path %>
              <%= link_to "Sign up", new_user_registration_path %>
            <% end %>
        </div>
    </div>

    <%= yield %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
